### Java and Maven ###
target/
*.class
*.jar
*.war
*.ear
*.logs

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Project Reports and Browser Automation drivers ###
screenshots/
chromedriver.exe
report.html